//=== OVERRIDE VARIABLES
// Text
$body-color: #fcfcfc;
$body-secondary: #c9c9c9;

// Theme
$primary: #1c1c21;
$secondary: #2f2e33;

//=== NEW VARIABLES
// Navigation
$navbar-bg: #2f2e33;

// Sidebar
$sidebar-bg: #141417;

// Card
$card-bg: #121212;
$card-bg-hover: #1a1a1a;
$card-color: $body-color;

//=== IMPORTS
@import "../node_modules/bootstrap/scss/bootstrap";

//=== ELEMENT STYLES
.main-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

* {
    box-sizing: border-box;
}

//=== CLASS STYLES
// Navbar
.navbar {
    background-color: $navbar-bg;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:focus {
    color: $body-color;
    font-weight: bold;
}

.navbar-option {
    color: $body-color;
}

.navbar-option:hover, .navbar-option:focus {
    color: $body-secondary;
}

.navbar-dropdown * {
    color: $body-color;
    background-color: $navbar-bg;
}

.navbar-dropdown *:hover {
    color: $body-secondary;
    background-color: $navbar-bg;
}

// Card Grid
.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 30px;
    column-gap: 30px;
}

.card {
    background-color: $card-bg;
    margin: auto;
    padding: 20px; 
    border-radius: 20px;
    
    text-align: center;
    cursor: pointer;

    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    aspect-ratio: .75;
}
.card * {
    color: $card-color;
    width: 100%;
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}
.card p{
    text-wrap: nowrap;
    overflow:auto;
    text-overflow: ellipsis;
    width: 100%;
    height: 15%;
    min-width: 100%;
    max-width: 100%;
    min-height: 15%;
    max-height: 15%;
}
.card h2{
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height: 15%;
    min-width: 100%;
    max-width: 100%;
    min-height: 15%;
    max-height: 15%;
}
.card img {
    width: 100%;
    height: 65%;
    min-width: 100%;
    max-width: 100%;
    min-height: 65%;
    max-height: 65%;
}

.card:hover {
    background-color: $card-bg-hover;
}

// Sidebar
.sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: $spacer;
    width: 20vw;
    max-width: 50vw;
    min-height: 100vh;
    background-color: $sidebar-bg;
}

// ProjectList
.repo-list-item {
    background-color: $primary;
    padding: 5px;
    margin-bottom: 10px;
    width: 75%;
    min-width: 75%;
    max-width: 100%;
    display: flex;
}
.repo-list-item:hover {
    background-color: $secondary;
    cursor: pointer;
}

.repo-list-item-title {
    color: $body-color;
    padding: 5px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}