//=== OVERRIDE VARIABLES
// Text
$body-color: #fcfcfc;
$body-secondary: #c9c9c9;

// Theme
$primary: #1c1c21;
$secondary: #2f2e33;

//=== NEW VARIABLES
$navbar-bg: #2f2e33;
$sidebar-bg: #141417;

//=== IMPORTS
@import "../node_modules/bootstrap/scss/bootstrap";

//=== ELEMENT STYLES
.main-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

* {
    box-sizing: border-box;
}

//=== CLASS STYLES
// Navbar
.navbar {
    background-color: $navbar-bg;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:focus {
    color: $body-color;
    font-weight: bold;
}

.navbar-option {
    color: $body-color;
}

.navbar-option:hover, .navbar-option:focus {
    color: $body-secondary;
}

.navbar-dropdown * {
    color: $body-color;
    background-color: $navbar-bg;
}

.navbar-dropdown *:hover {
    color: $body-secondary;
    background-color: $navbar-bg;
}

// Card Grid
.card {
    background-color: #121212;
    padding: 20px; 
    border-radius: 20px;
    cursor: pointer;
    margin: auto;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
}

.card:hover {
    background-color: #1a1a1a;
}

// Sidebar
.sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: $spacer;
    width: 20vw;
    max-width: 50vw;
    min-height: 100vh;
    background-color: $sidebar-bg;
}

// ProjectList
.project-list-item {
    background-color: $primary;
    padding: 5px;
    margin-bottom: 10px;
    width: 75%;
    min-width: 75%;
    max-width: 100%;
    display: flex;
}
.project-list-item:hover {
    background-color: $secondary;
    cursor: pointer;
}

.project-list-item-title {
    color: $body-color;
    padding: 5px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}